{{range .}}dn: cn={{.ShortNameTranslit}},%[1]s
description: {{.FullName}}
objectClass: top
objectClass: posixGroup
cn: {{.ShortNameTranslit}}
gidNumber: {{.UID}}

dn: cn={{.ShortNameTranslit}},%[1]s
changetype: modify
delete: memberuid

dn: cn={{.ShortNameTranslit}},%[1]s
changetype: modify
add: memberuid
{{range .Users}}memberuid: {{.Username}}
{{end}}
{{end}}